.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
}

.water-background {
  background-color: #4B495F;
}

.game-heading {
  padding: 5px 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 40px;
}

.square-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10px;
  column-gap: 10px;
}

.move-detection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}

.left,
.right {
  height: 30px;
  width: 120px;
  background-color: #4B495F;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  padding: 5px;
  font-size: 20px;
  font-weight: 600;
   text-align: center;
}