.square{
    width:100px;
    height:100px;
    background-color: #4B495F;
    border-radius: 5px;
}

.square:hover{
    cursor: pointer;
    background-color: #574cb4;
}

.not-allowed{    
cursor: not-allowed !important;
pointer-events: none;
}

.circle-won{
    background-color: #DD7F9F !important;
}
.cross-won{
    background-color: rgb(63,167,240) !important;
}